* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: linear-gradient(to right, rgb(7, 33, 41), rgb(52, 59, 52), rgb(49, 63, 49), rgb(61, 61, 61), rgb(21, 21, 22));
    margin: 0;
    padding: 10px;
    min-width: 400px;
    border-radius: 30px;
}

input {
    width: 100%;
    font-size: 1.1em;
    padding: 7px;
    margin-bottom: 10px;
}

button {
    background-color: green;
    font-size: 1.1em;
    font-weight: bold;
    padding: 7px;
    border: 1px solid green;
    color: white;
}

button:nth-child(4) {
    background-color: white;
    color: green;
}

button:active {
    transform: translateY(-3px);
}

li {
    margin-top: 10px;
    font-size: 1.3em;
    list-style: none;
}

a {
    color: white;
    padding-left: 1.3em;
}